.cat-seo {

    // .cat-seo__outer

    &__outer {
        width: 100%;
        background-color: #fffffc;
    }

    // .cat-seo__inner

    &__inner {
        width: 100%;
        max-width: 1130px;
        padding: 0 25px;
        margin: 0 auto;
        // margin: 0 auto 80px;


        // @media (max-width:991px) {
        //     margin-bottom: 70px;
        // }

        // @media (max-width:767px) {
        //     margin-bottom: 60px;
        // }

        // @media (max-width:575px) {
        //     margin-bottom: 50px;
        // }
    }

    // .cat-seo__para

    &__para {
        width: 100%;
        max-width: 1020px;
        display: block;
        margin-bottom: 80px;
        // @include bodytext-16-regular2;

        // & p {
        //     @include bodytext-16-regular2;
        // }

        & b,
        & strong {
            font-weight: 700;
            text-transform: uppercase;
        }



        // .cat-seo__para--first

        // &--first {}

        // // .cat-seo__para--rest

        // &--rest {}
    }
}

// .wysiwyg {}