.contact{


&__outer{
    max-width: 1440px;
    margin: 0px auto;
    padding: 120px 441px;
    background-color: var(--purple);
}

&__title{
    margin-bottom: 40px;
}
&__group{
    display: flex;
    flex-direction: column;
}
}