.all-products {
	&__outer {
		max-width: 1440px;
		padding: 56px 40px 120px;
		margin: 0px auto;
		overflow: hidden;
		@media (max-width: 575px) {
			padding: 56px 40px;
		}
	}

	&__header {
		&-title {
			margin-bottom: 16px;
		}
		&-subtitle {
			margin-bottom: 40px;
		}
	}
	&__special-box {
		grid-column: span 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 49px 40px;
		background-color: var(--background-dark);

		@media (max-width: 991px) {
			align-items: center;
			padding: 49px 33px;
		}
		@media (max-width: 767px) {
			width: calc(100% + 80px);
		}
		@media (max-width: 575px) {
			grid-column: span 1;
			padding: 40px 30px;
		}
		&-title {
			color: var(--light-white);
			margin-bottom: 32px;
		}
		&-btn {
			border: 1px solid var(--white-secondary);
			padding: 18px 34px;
			box-shadow: 0px 4px 8px 0px rgba(64, 7, 6, 0.16);
			max-width: 250px;
			transition: 0.3s;
			@media (max-width: 575px) {
				padding: 15px 14px;
				width: 100%;
				max-width: 100%;
			}
		}

		&-btn:hover {
			background-color: var(--light-white);
			color: var(--dark-secondary);
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
		justify-items: center;
		gap: 70px 16px;

		@media (max-width: 1199px) {
			grid-template-columns: repeat(3, minmax(299px, 1fr));
		}
		@media (max-width: 991px) {
			grid-template-columns: repeat(3, minmax(222px, 1fr));
		}
		@media (max-width: 767px) {
			grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
		}
		@media (max-width: 575px) {
			grid-template-columns: repeat(1, minmax(250px, 1fr));
		}
	}
	&__items-item {
		position: relative;
		max-width: 328px;
		width: 100%;
		// min-height: 433px;
		background-color: var(--white);
		box-shadow: 0px 4px 40px 0px rgba(118, 117, 117, 0.25);
	
		
		&-img {
			display: block;
			height: 100%;
			picture {
				display: inline;
			}
			img {
				height: 100%;
				width: 100%;
			}
		}

		.arrow-right {
			position: absolute;
			top: 50%;
			right: 10px;
			width: 40px;
			height: 40px;
			background-color: #00000063;
			border-radius: 50%;
			transform: translate(0%, -50%);
			padding: 0px 6px;
			overflow: hidden;
			cursor: pointer;
			@media (max-width: 575px) {
				display: none;
			}

			img {
				position: absolute;
				right: 8px;
				top: 50%;
				transform: translate(0%, -50%);
			}
		}

		.arrow-right:active,
		.arrow-right:focus {
			background: rgba(0, 0, 0, 0.6);
		}

		.arrow-right::before {
			content: 'Zobacz więcej';
			position: absolute;
			top: 50%;
			right: -100px;
			width: 100%;
			color: var(--white);
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: none;
			@media (max-width: 767px) {
				right: -110px;
			}
		}
	}
	.all-products__items-item:hover .arrow-right::before {
		opacity: 1;
		transition: opacity 0.9s;
	}

	.active-arrow {
		width: 174px;
		border-radius: 100px;
		transition: width 0.3s ease, left 0.3s ease;
	}
}
