.contact-us-main {
	background-color: var(--background-dark);
	&__outer {
		max-width: 1440px;
		margin: 0px auto;
		padding-bottom: 120px;
		display: flex;
		justify-content: center;
		margin-bottom: -2px;
		@media (max-width: 767px) {
			padding-bottom: 80px;
		}
	}
	&__inner {
		width: 100%;
		display: flex;
		@media (max-width: 767px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__img {
		@media (max-width: 767px) {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 25px 40px;
		color: var(--light-white);
		@media (max-width: 767px) {
			align-items: center;
			padding: 48px 25px 0px;
		}
		@media (max-width: 575px) {
			padding: 48px 25px 0px;
		}
		p {
			max-width: 548px;
		}
		&-desc {
			margin: 32px 0px;
			@media (max-width: 767px) {
				margin: 24px 0px 32px;
			}
		}

		&-btn {
			border: 1px solid var(--white-secondary);
			box-shadow: 0px 4px 8px 0px rgba(64, 7, 6, 0.16);
			padding: 18px 36px;
			max-width: 295px;
			transition: 0.3s;
			@media (max-width: 767px) {
				width: 100%;
				max-width: 548px;
			}
			@media (max-width: 350px) {
				padding: 15px 26px;
			}
		}
		&-btn:hover {
			background-color: var(--light-white);
			color: var(--dark-secondary);
			box-shadow: 0px 4px 8px 0px rgba(64, 7, 6, 0.16);
		}
	}
}
