.slide-to-left {
   transition: opacity 0.6s linear 0s, transform 0.9s ease-in-out 0s;
   opacity: 0;
   transform: translateX(100%);

   &.half {
      transform: translateX(50%);
   }

   &.active {
      opacity: 1;
      transform: translateX(0%);
   }
}

.slide-to-right {
   transition: opacity 0.6s linear 0s, transform 0.9s ease-in-out 0s;
   opacity: 0;
   transform: translateX(-100%);

   &.half {
      transform: translateX(-50%);
   }

   &.active {
      opacity: 1;
      transform: translateY(0%);
   }
}

.slide-up {
   transition: opacity 0.4s ease-in-out 0s, transform 0.7s ease-in-out 0s;
   opacity: 0;
   transform: translateY(150px);

   &.active {
      opacity: 1;
      transform: translateY(0);
   }
}

.slide-up-transform-full {
   transition: transform 0.7s ease-in-out 0s;
   transform: translateY(100%);

   &.active {
      transform: translateY(0);
   }
}

.fade {
   transition: opacity 0.7s linear 0.2s;
   opacity: 0;

   &.active {
      opacity: 1;
   }
}

.clip-left {
   transition: 1.5s ease-in-out;
   opacity: 0;
   clip-path: inset(0% 0% 0% 100%);

   &.active {
      opacity: 1;
      clip-path: inset(0%);
   }
}

.clip-right {
   transition: 1.5s ease-in-out;
   opacity: 0;
   clip-path: inset(0% 100% 0% 0%);

   &.active {
      opacity: 1;
      clip-path: inset(0%);
   }
}

.opacity-half {
   transition: opacity 1s linear;
   opacity: 0.2;

   &.active {
      opacity: 1;
   }
}

// .light-slide-down-fix {
//    @include light-slide-down-fix;
// }

// .light-slide-down {
//    @include light-slide-down;
// }

// .light-slide-up-fix {
//    @include light-slide-up-fix;
// }

// .light-slide-up {
//    @include light-slide-up;
// }

// .light-slide-left-fix {
//    @include light-slide-left-fix;
// }

// .light-slide-left {
//    @include light-slide-left;
// }

// .light-slide-right-fix {
//    @include light-slide-right-fix;
// }

// .light-slide-right {
//    @include light-slide-right;
// }

// .tran-del-10 {
//    @include tran-del-10;
// }

// .tran-del-15 {
//    @include tran-del-15;
// }

// .tran-del-20 {
//    @include tran-del-20;
// }

// .tran-del-25 {
//    @include tran-del-25;
// }

// .tran-del-30 {
//    @include tran-del-30;
// }

// .tran-del-35 {
//    @include tran-del-35;
// }

// .tran-del-40 {
//    @include tran-del-40;
// }

// .tran-del-50 {
//    @include tran-del-50;
// }

// .tran-del-70 {
//    @include tran-del-70;
// }

// .tran-del-75 {
//    @include tran-del-75;
// }

// .tran-del-100 {
//    @include tran-del-100;
// }

// .tran-del-125 {
//    @include tran-del-125;
// }

// .tran-del-150 {
//    @include tran-del-150;
// }

// .tran-del-200 {
//    @include tran-del-200;
// }

// .tran-del-250 {
//    @include tran-del-250;
// }

// .tran-del-300 {
//    @include tran-del-300;
// }

/*
 
     MIXIN ANIMATION CLASSES START BEGIN
 
 */

@mixin light-slide-down-fix {
   transform: translate(0, -50px);
   visibility: visible;
   opacity: 0;
   transition: all 1s ease;
   // transition-delay: 0.2s;

   &.active {
      transform: translate(0, 0);
      opacity: 1;
   }
}

@mixin light-slide-down {
   transform: translate(0, -30%);
   visibility: visible;
   opacity: 0;
   transition: all 1s ease;

   &.active {
      transform: translate(0, 0);
      opacity: 1;
   }
}

@mixin light-slide-up-fix {
   transform: translate(0, 50px);
   visibility: visible;
   opacity: 0;
   transition: all 1s ease;
   // transition-delay: 0.2s;

   &.active {
      transform: translate(0, 0);
      opacity: 1;
   }
}

@mixin light-slide-up {
   transform: translate(0, 30%);
   visibility: visible;
   opacity: 0;
   transition: all 1s ease;

   &.active {
      transform: translate(0, 0);
      opacity: 1;
   }
}

@mixin light-slide-left-fix {
   transform: translate(50px, 0);
   visibility: visible;
   opacity: 0;
   transition: all 1s ease;

   @media (max-width: 767px) {
      transform: translate(0, -50px);
   }

   &.active {
      transform: translate(0, 0);
      opacity: 1;
   }
}

@mixin light-slide-left {
   transform: translate(30%, 0);
   visibility: visible;
   opacity: 0;
   transition: all 1s ease;

   @media (max-width: 767px) {
      transform: translate(0, -30%);
   }

   &.active {
      transform: translate(0, 0);
      opacity: 1;
   }
}

@mixin light-slide-right-fix {
   transform: translate(-50px, 0);
   visibility: visible;
   opacity: 0;
   transition: all 1s ease;

   @media (max-width: 767px) {
      transform: translate(0, -50px);
   }

   &.active {
      transform: translate(0, 0);
      opacity: 1;
   }
}

@mixin light-slide-right {
   transform: translate(-30%, 0);
   visibility: visible;
   opacity: 0;
   transition: all 1s ease;

   @media (max-width: 767px) {
      transform: translate(0, -30%);
   }

   &.active {
      transform: translate(0, 0);
      opacity: 1;
   }
}

@mixin tran-del-10 {
   transition-delay: 0.1s;
}

@mixin tran-del-15 {
   transition-delay: 0.15s;
}

@mixin tran-del-20 {
   transition-delay: 0.2s;
}

@mixin tran-del-25 {
   transition-delay: 0.25s;
}

@mixin tran-del-30 {
   transition-delay: 0.3s;
}

@mixin tran-del-35 {
   transition-delay: 0.35s;
}

@mixin tran-del-40 {
   transition-delay: 0.4s;
}

@mixin tran-del-50 {
   transition-delay: 0.5s;
}

@mixin tran-del-70 {
   transition-delay: 0.7s;
}

@mixin tran-del-75 {
   transition-delay: 0.75s;
}

@mixin tran-del-100 {
   transition-delay: 1s;
}

@mixin tran-del-125 {
   transition-delay: 1.25s;
}

@mixin tran-del-150 {
   transition-delay: 1.5s;
}

@mixin tran-del-200 {
   transition-delay: 2s;
}

@mixin tran-del-250 {
   transition-delay: 2.5s;
}

@mixin tran-del-300 {
   transition-delay: 3s;
}

/*
 
     MIXIN ANIMATION CLASSES STOP END
 
 */

@keyframes bounce {
   0%,
   20%,
   50%,
   80%,
   100% {
      transform: translateY(0);
   }

   40% {
      transform: translateY(-12px);
   }

   60% {
      transform: translateY(-6px);
   }
}

@keyframes newRealizationEnter {
   0% {
      opacity: 0;
      transform: scale(0);
   }

   100% {
      opacity: 1;
      transform: scale(1);
   }
}
