.header {
    .header-desktop {


        width: 100%;
        z-index: 9;
        position: relative;
        // background-color: #FFFCF8;

        // // TYMCZASOWE 
        // margin-bottom: 100px;

        @media (max-width: 767px) {
            display: none;
        }


        &__info-bar {
            background: #7A0825;
        }

        &__info-bar-inner {
            display: flex;
            justify-content: space-between;
            max-width: 1000px;
            margin: 0 auto;
            padding: 10px 25px;
        }

        &__single-info {
            display: flex;
            align-items: center;
        }

        &__info-icon-container {
            margin-right: 16px;
        }

        &__info-text {
            color: var(--white);
            @include bodytext-18-regular;
        }

        &__outer {
            // border-bottom: 1px solid var(--light-beige);
            position: relative;
            padding: 0 40px;

            @media (min-width: 768px) and (max-width: 991px) {
                padding: 0 25px;
            }

            // &::before {
            //     background-color: var(--green);
            //     z-index: 1;
            //     height: 100%;
            //     top: unset;
            //     bottom: 0;
            //     content: "";
            //     width: 1px;
            //     position: absolute;
            //     left: var(--line-shift);
            // }
        }

        &__inner {
            // max-width: 1410px;
            // padding: 42px var(--line-shift) 45px;
            display: flex;
            margin: 0 auto;
            position: relative;
            height: 98px;

            // &::before {
            //     content: "";
            //     position: absolute;
            //     right: var(--line-shift);
            //     top: 0;
            //     height: calc(50% - 22.5px);
            //     width: 1px;
            //     background-color: var(--green);
            // }

            // &::after {
            //     content: "";
            //     position: absolute;
            //     right: var(--line-shift);
            //     bottom: 0;
            //     height: calc(50% - 22.5px);
            //     width: 1px;
            //     background-color: var(--green);
            // }
        }

        &__rest-side {
            margin-left: auto;
            padding-left: 100px;
            display: flex;
            align-items: center;

            @media (min-width: 768px) and (max-width: 991px) {
                padding-left: 0;
            }
        }

        &__menu-side {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        // &__talk-icon {
        //     position: relative;
        //     // @include txt-20;
        //     color: var(--green);
        //     display: flex;
        //     align-items: center;


        //     @media (min-width: 992px) and (max-width: 1199px) {
        //         font-size: 18px;
        //     }

        //     &::after {
        //         content: "";
        //         width: 14px;
        //         height: 14px;
        //         background-color: var(--yellow);
        //         border-radius: 50%;
        //         transform: translateX(46%);
        //         margin-left: 8px;
        //     }
        // }

        &__logo-container {
            // position: absolute;
            // top: 0;
            z-index: 2;
            // height: 100%;
            // margin-left: 50px;

            // @media (max-width:1439px) {
            //     margin-left: 30px;
            // }

            // @media (max-width:991px) {
            //     margin-left: 20px;
            // }
        }

        &__logo-link {
            display: flex;
            height: 100%;

            // img {
            //     @media (min-width: 992px) and (max-width: 1199px) {
            //         width: 120px;
            //     }
            // }

            // img {
            //     transition: .3s;
            //     height: 179px;
            //     width: auto;

            //     @media (min-width: 992px) and (max-width: 1199px) {
            //         height: 160px;
            //     }

            //     &.scrolled {
            //         height: 100%;
            //     }
            // }
        }

        &__rest-container-inner {
            display: flex;

            >*:not(:last-child) {
                margin-right: 16px;

                @media (min-width: 768px) and (max-width: 991px) {
                    margin-right: 10px;
                }
            }

            @media (min-width: 768px) and (max-width: 991px) {
                svg {
                    height: 40px;
                    width: 40px;
                }
            }
        }


        &__contact-icons {
            display: flex;
        }

        &__contact-icon {
            display: flex;
            transition: .3s;

            &:hover {
                transform: scale(1.3);
            }

            &:not(:last-child) {
                margin-right: 40px;

                @media (min-width: 992px) and (max-width: 1199px) {
                    margin-right: 20px;
                }
            }

        }

        &__search-icon {
            cursor: pointer;

            svg * {
                transition: .3s;
            }

            &:hover {
                svg>rect {
                    fill: transparent;
                    stroke: #7A0825;
                }

                svg>g>path {
                    stroke: #7A0825;
                }
            }
        }

        &__tel-icon,
        &__envelope-icon {
            cursor: pointer;

            svg * {
                transition: .3s;
            }

            svg>rect {
                fill: #fff;
                // stroke: white;
            }

            &:hover {
                svg>rect {
                    fill: #7A0825;
                    // stroke: white;
                }

                path {
                    stroke: #fff;
                }

                // svg>g>path {
                //     stroke: white;
                // }
            }
        }

        &__menu {
            display: flex;

            >.menu-item {
                margin-right: 50px;

                @media (min-width: 768px) and (max-width: 991px) {
                    margin-right: 25px;
                }

                // @media (min-width: 992px) and (max-width: 1199px) {
                //     margin-right: 40px;
                // }

                &:last-child {
                    margin-right: 0;
                }

                >a {
                    @include bodytext-18-medium;
                    color: #000;

                    // @media (min-width: 992px) and (max-width: 1199px) {
                    //     font-size: 16px;
                    // }

                    &:hover {
                        color: #7A0825;
                    }
                }
            }
        }

        .main-menu {
            display: flex;
            // padding: 34px 42px 34px 58px;

            >li {
                height: 100%;

                >a {
                    position: relative;

                    &:hover::after {
                        width: 100%;
                    }

                    &::after {
                        content: "";
                        width: 0%;
                        height: 2px;
                        // background-color: var(--dark);
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        transition: 0.3s;
                        border-radius: 40px;
                    }
                }
            }

            >li {

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    >.sub-menu {
                        right: 0;
                        left: unset;

                        li {
                            >.sub-menu {
                                left: unset;
                                right: 100%;
                            }
                        }

                        .menu-item-has-children {
                            &:hover::after {
                                -webkit-transform: rotate(90deg);
                                -ms-transform: rotate(90deg);
                                transform: rotate(90deg);
                            }
                        }

                    }
                }
            }

            >.menu-item-has-children {
                cursor: pointer;
                // &::after {
                //     content: unset !important;
                // }

                &:hover::after {
                    -webkit-transform: scale(-1) !important;
                    -ms-transform: scale(-1) !important;
                    transform: scale(-1) !important;
                }
            }



            .menu-item-has-children {
                position: relative;
                padding-right: 22px;

                &:hover::after {
                    -webkit-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: calc(50% - 9px);
                    right: 0;
                    background-image: url(/wp-content/uploads/2024/05/arrow-down-nestor.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 14px;
                    height: 14px;
                    -webkit-transition: all 0.2s linear;
                    transition: all 0.2s linear;
                }

                &:hover {
                    >.sub-menu {
                        // display: block;
                        opacity: 1;
                        visibility: visible;
                    }
                }

                >a {
                    &::after {
                        content: unset !important;
                    }
                }


                .sub-menu {
                    a {
                        @include bodytext-16-regular1;
                        color: var(--black);
                        text-transform: none;
                        position: relative;

                        // &::after {
                        //     content: "";
                        //     position: absolute;
                        //     left: 0;
                        //     width: 40px;
                        //     background: #7A0825;
                        //     bottom: 0;
                        //     height: 1px;
                        //     transition: 0.3s;
                        // }


                        &:hover {
                            color: #7A0825;
                        }

                        // &:hover::after {
                        //     width: 150px;
                        // }
                    }
                }
            }

            .sub-menu {
                // display: none;
                opacity: 0;
                visibility: hidden;
                transition: .3s;
                position: absolute;
                top: 100%;
                left: -20px;
                z-index: 2;
                padding: 20px 0;

                border: 0;
                border-radius: 0;
                background-color: white;
                -webkit-box-shadow: none;
                box-shadow: none;
                width: max-content;
                max-width: 380px;
                min-width: 200px;
                box-shadow: 0px 0px 4px rgba(55, 55, 55, 0.25);
                border-radius: 15px;

                li {
                    display: block;
                    padding: 0 40px 0 20px;

                    &:not(:last-child) {
                        padding-bottom: 10px;
                    }

                    >.sub-menu {
                        top: 0;
                        left: 100%;
                    }
                }
            }
        }
    }

    .header-mobile {
        // TYMCZASOWE 
        // padding-bottom: 70px;

        z-index: 999999;
        position: relative;

        @media (min-width: 767px) {
            display: none;
        }

        &__outer {
            background-color: #FFFFFF;
            position: fixed;
            width: 100%;
            z-index: 99999;
            top: 0;
            transition: .3s;

            &.active {
                transform: translateY(0%) !important;
            }

            &.hidden {
                transform: translateY(-102%) !important;
            }
        }

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            height: 70px;
            padding: 0 6px 0 20px;
            // box-shadow: 0px 6px 10px 0px rgba(69, 94, 100, 0.4);

            @media (max-width: 380px) {
                height: 70px;
            }
        }

        &__right-side {
            display: flex;
            align-items: center;
        }

        &__search-icon {
            cursor: pointer;

            svg {
                height: 35px;
                width: 35px;
            }
        }

        &__logo-container {
            // position: absolute;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // top: 50%;
            height: 55px;

            // @media (max-width: 380px) {
            //     height: 48px;
            // }
        }

        &__logo-link {
            display: block;
            height: 100%;

            &.logo-in-menu {
                width: 70px;
            }

            img {
                height: 100%;
                width: auto;
            }
        }

        &__hamburger {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 14px;
            height: fit-content;

            // @media (max-width: 479px) {
            //     margin-right: 0;
            // }
        }

        &__hamburger-line {
            width: 30px;
            height: 2px;
            border-radius: 25px;
            background-color: black;

            &:nth-child(2) {
                margin: 8px 0;
            }
        }

        &__menu-button-container-inner {
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-left: 13px;
        }

        &__menu-button-container {
            // padding: 25px;
            // border-right: 0.3px solid #00000042;

            // @media (max-width: 420px) {
            //     padding: 25px 15px;
            // }
        }

        &__menu-text {
            // @include buttons-txt;
            text-transform: uppercase;

            @media (max-width: 479px) {
                display: none;
            }
        }



        // test

        &__menu-container {
            position: fixed;
            top: 0;
            z-index: 9999999;
            background-color: white;
            width: 100%;
            bottom: 0;
            // padding: 25px 30px 23px 40px;
            padding: 15px 30px 23px 25px;
            display: flex;
            flex-direction: column;
            left: 0;
            transform: translateX(-100%);
            transition: .3s ease;

            &.active {
                transform: translateX(0%);
            }

            @media (max-width: 350px) {
                // padding: 25px 20px 23px 20px;
                padding: 15px 20px 23px 20px;
            }
        }

        &__close-button {
            display: flex;
            position: relative;
            width: 30px;
            height: 30px;
            transition: .3s;
            cursor: pointer;

            &:hover {
                transform: rotate(-90deg);
            }
        }

        &__close-button-line {
            width: 34px;
            height: 2px;
            background-color: black;
            border-radius: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: center;
        }

        &__close-button-line-1 {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &__close-button-line-2 {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &__menu-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;
        }

        &__menu-logo {
            width: 180px;
        }

        &__nav {
            margin-top: clamp(40px, 8vh, 120px);
            padding-bottom: 30px;
        }

        &__contact {
            // margin-top: auto;
            margin-bottom: 30px;
            display: flex;

            // @media (max-width: 370px) {
            //     max-width: 250px;
            // }
        }

        &__menu-socials {
            display: flex;
            margin-bottom: 40px;
            flex-direction: column;
        }

        &__social-headline {
            font-size: 16px;
            line-height: 2.14;
            letter-spacing: 0.04em;
            font-weight: 300;
        }

        &__socials-container {
            display: flex;
            flex-wrap: wrap;
        }

        &__social {
            font-size: 16px;
            font-weight: 300;
            color: var(--green);
            letter-spacing: 0.04em;
            margin-right: 30px;
        }

        &__menu-social-link {
            &.first {
                margin-right: 15px;
            }

            &:hover {
                transform: translateY(-3px);
            }

            img {
                height: 26px;
            }
        }

        &__menu-activator {
            display: inline-flex;
            align-items: center;
            padding-left: 15px;
            cursor: pointer;
            height: 35px;
            width: 30px;


            img {
                // max-width: 27px;
                // max-width: 15px;
                // height: 27px;
                // transition: 0.3s;
                // position: relative;
                // top: 7px
                max-width: 32px;
                height: 14px;
                transition: 0.3s;
            }
        }

        &__menu-bottom {
            display: flex;
            flex-direction: column;
            height: 100%;
            overflow-y: auto;
        }

        &__contact-el {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            // color: var(--dark);

            &:not(:last-child) {
                margin-right: 10px;
            }

            img,
            span {
                margin-right: 5px;
            }
        }

        &__contact-number {
            border: 1px solid black;
            border-radius: 20px;
            padding: 4px 14px;
            font-size: 14px;
            line-height: 140%;
            font-weight: 500;
            color: black;
            display: inline-block;
            text-align: center;

            @media (max-width: 370px) {
                margin-top: 5px;
            }
        }

        &__tel-icon,
        &__envelope-icon {
            cursor: pointer;

            svg * {
                transition: .3s;
            }

            svg>rect {
                fill: #fff;
                // stroke: white;
            }

            &:hover {
                svg>rect {
                    fill: #7A0825;
                    // stroke: white;
                }

                path {
                    stroke: #fff;
                }

                // svg>g>path {
                //     stroke: white;
                // }
            }
        }

        // &__contact-headline {
        //     font-weight: 600;
        //     font-size: 18px;
        //     line-height: 140%;
        //     color: var(--green);
        //     margin-bottom: 15px;
        //     display: flex;
        //     align-items: center;

        //     &::after {
        //         content: "";
        //         width: 14px;
        //         height: 14px;
        //         background-color: var(--yellow);
        //         border-radius: 50%;
        //         transform: translateX(46%);
        //         margin-left: 8px;
        //     }
        // }

        &__icon-holder {
            width: 25px;
        }

        &__contact-text {
            // @include txt-16r;
            // color: var(--dark);
            display: flex;
            align-items: center;

            &:hover {
                // color: var(--red);
            }

            img {
                margin-right: 15px;
                min-width: 10px;
                max-width: 25px;
            }
        }

        &__contact-text-inner {
            color: var(--green);
        }

        &__logo-link {
            display: block;
            // width: 135px;
        }

        &__social-icon {
            height: 25px;
            width: auto;
        }

        // &__menu-item {
        //     display: flex;
        //     align-items: center;

        //     img {
        //         margin-right: 10px;
        //     }
        // }

        &__menu-item {
            margin-bottom: 20px;
            display: flex;
            align-items: center;

            @media (max-height: 700px) {
                margin-bottom: 16px;
            }

            img {
                margin-right: 10px;

                // @media (min-height: 750px) and (max-height: 849px) {
                //     max-height: 80px;
                //     max-width: 80px;
                // }

                // @media (max-height: 749px) {
                //     max-height: 65px;
                //     max-width: 65px;
                // }
            }

        }

        &__menu-el-link {
            // @include buttons-txt;
            color: black;

            @media (min-width: 576px) and (max-width: 991px) {
                font-size: 28px;
            }

            @media (min-width: 1px) and (max-width: 575px) {
                font-size: 24px;
            }
        }

        &__languages-icon {
            filter: brightness(0);
        }

        &__languages-icon-holder {
            display: flex;
        }

        &__languages-icon-holder {
            margin-right: 16px;
        }

        .languages-menu {
            display: flex;

            .lang-item {
                a {
                    font-size: 16px;
                    line-height: 21px;
                    letter-spacing: 0.04em;
                    color: var(--green);
                    text-transform: uppercase;
                    font-weight: 300;

                    &:hover {
                        color: #7a0825;
                    }
                }

                &:not(:last-child) {
                    &::after {
                        content: "/";
                        margin: 0 5px;
                        // @include buttons-txt;
                        text-transform: uppercase;
                        // color: var(--red);
                    }
                }
            }

            .current-lang {
                a {
                    color: #7a0825 !important;
                }
            }
        }

        &__languages-inner {
            display: flex;
            align-items: center;

            // @media (max-width: 479px) {
            //     justify-content: center;
            // }
        }

        &__languages-container {
            margin-bottom: 30px;
        }

        #mobile-menu {
            >li {
                overflow: hidden;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                >a {
                    // @include txt-16;
                    font-size: 16px;
                    // font-family: "Sofia Sans";
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.75;
                    color: black;

                    &:hover {
                        color: #7a0825;
                    }
                }

                &.active {
                    .header-mobile__menu-activator {
                        img {
                            transform: scale(-1);
                        }
                    }

                    .sub-menu {
                        // visibility: visible;
                        // opacity: 1;
                        // width: 100%;
                        // // grid-template-rows: 1fr;
                        // padding-top: 20px;
                        // padding-bottom: 20px;
                        max-height: 600px;
                        opacity: 1;
                        visibility: visible;
                        margin-top: 10px;
                        margin-left: 10px;
                    }
                }

                .sub-menu {
                    visibility: hidden;
                    opacity: 0;
                    // display: grid;
                    // grid-template-rows: 0fr;
                    // transition: grid-template-rows 0.4s;
                    transition: 0.4s;
                    max-height: 0;

                    // &.active {
                    //     max-height: 600px;
                    //     opacity: 1;
                    //     visibility: visible;
                    //     margin-top: 25px;
                    //     margin-left: 10px;
                    // }

                    li {
                        margin-left: 15px;

                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }

                    a {
                        // @include txt-16r;
                        // color: var(--dark);

                        font-size: 15px;
                        // font-family: "Sofia Sans";
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.75;
                        color: black;

                        &:hover {
                            color: #7A0825;
                        }

                    }
                }
            }
        }

    }

}

@media (max-width: 767px) {
    body>main {
        padding-top: 70px;
    }
}