//reset styles
html {
   box-sizing: border-box;
   font-size: 16px;
   scroll-behavior: smooth;
   color: #000;
   font-family: "Arial", sans-serif;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: "Arial", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure {
   margin: 0;
   padding: 0;
   font-weight: normal;
   line-height: 1.1;
}

.wysiwyg {
   ol,
   ul {
      margin: 16px 0 !important;
      padding-left: 40px !important;
      font-weight: normal;
      line-height: 1.1;
   }
}

div:not(.wysiwyg) ul {
   list-style: none;
}

.wysiwyg ul {
   list-style: disc !important;
}

img {
   max-width: 100%;
   height: auto;
}

a {
   text-decoration: none;
   transition: 0.2s;
}

picture {
   display: flex;
}

//koniec reset styles
